.form {
    background-color: rgb(39, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 10%;
}

.label {
    padding: 10px;
}

.input {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 2px white;
}

.errors {
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonLogin {
    width: 100px;
    height: auto;
}

.buttonLogin:hover {
    cursor: pointer;
}